@page
@{
    ViewData["Title"] = "Home page";
}

<div pv-name="Root">
    -Root
    <div pv-name="B">
        B1
        <div pv-name="C">
            C1
        </div>
    </div>
    <div pv-name="B">
        B2
        <div pv-name="C">
            C2
            <div pv-name="C">
                C3
            </div>
        </div>

    </div>
</div>

<script type="module" src="~/src/test.js"></script>
