@page
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <section>
        <input v-model="A1.A2.A3.TestValue" />
        <input v-model="B1.Value" />
        <input v-model="C1" />
        <label vc-col="Test"></label>

    </section>
</div>

<script src="/npm/vue/vue.global.prod.js"></script>
@* <script src="/VueModel/dist/VueModel.full.js"></script> *@
<script src="/VueModel/src/CommonFunc.js"></script>
<script src="/VueModel/src/DomEditor.js"></script>
<script src="/VueModel/src/VueModel.js"></script>
<script src="~/js/site.js"></script>
