@page
@{
    ViewData["Title"] = "Home page";
}

<img v-bind:src="FileStore.a.Base64" />
<div pv-name="Root">
    <button pv-name="Btn">123</button>

    -Root
    <div pv-name="B">
        B1
        <div pv-name="C">
            C1
        </div>
        <div pv-name="B" class="MyTest">
            <div pv-name="C">
                C1-1
                <div pv-name="C" class="MyTest">
                    C1-1-1
                </div>
            </div>
        </div>
    </div>
    <div pv-name="B">
        B2
        <div pv-name="C">
            C2
            <div pv-name="C">
                C3
            </div>
        </div>
    </div>
    <div pv-name="C">
        C4
    </div>
</div>

<script type="module" src="~/src/test.js"></script>
