@page
@{
    ViewData["Title"] = "Home page";
}

<div id="A" pv-name="A">
   
</div>


<script src="~/npm/systemjs/dist/system.js"></script>
<script src="~/npm/vue/dist/vue.global.js"></script>

<script src="~/src/js/setup.js"></script>
<script src="~/src/js/test.js"></script>
@* <script src="~/VueModel/src/testVueModel.js"></script> *@



@* <script src="/VueModel/dist/VueModel.full.js"></script> *@
@* <script src="/VueModel/src/CommonFunc.js"></script>
<script src="/VueModel/src/DomEditor.js"></script>
<script src="/VueModel/src/VueModel.js"></script> *@

