<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rugal.VueModel3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Rugal.VueModel3.styles.css" asp-append-version="true" />
</head>
<body>
    <script type="importmap">
        {
            "imports":{
                "vuemodel3": "/VueModel/src/VueModel.js",
                "vue": "/npm/vue/dist/vue.esm-browser.js"
            }
        }
    </script>
    <div class="container">
        <main id="app" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</body>
</html>